# ================================
# OS / General
# ================================
.DS_Store
*.log
*.swp
*.class
*.pyc
*.pyo
*.tmp

# ================================
# IDE / Editor
# ================================
.idea/
*.iml
*.ipr
*.iws

.atom/
.history
.svn/
.swiftpm/

# VSCode 설정(공유 원하면 주석 해제)
# .vscode/

# ================================
# Dart / Flutter
# ================================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/doc/api/

# Flutter iOS
**/ios/Flutter/.last_build_id
**/ios/ServiceDefinitions.json

# Flutter Coverage
/coverage/

# ================================
# Android / Gradle
# ================================
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/local.properties

# Firebase-related (Android)
/android/app/google-services.json

# ================================
# Firebase / iOS
# ================================
# Firebase iOS 플러그인과 빌드 산출물
**/ios/Pods/
**/ios/Podfile.lock
**/ios/.symlinks/
/ios/Flutter/Flutter.podspec
**/ios/firebase_app_id_file.json

# Firebase iOS 설정 파일
ios/Runner/GoogleService-Info.plist

# ================================
# Firebase CLI / Emulator
# ================================
.firebase/
firebase.json
firebaserc

# Emulator data
firebase-debug.log
.emulator-data/

# ================================
# Symbolication / Obfuscation
# ================================
app.*.symbols
app.*.map.json
